scripts=["create\ service\ user\ forms-docusign-sample-service-user\ with\ forced\ path\ system/cq\:services/sample/forms/docusign",
"set\ principal\ ACL\ for\ forms-docusign-sample-service-user\r\nallow\ jcr\:read\ on\ /conf\ restriction(rep\:glob,/*/cloudconfigs/docusign)\r\nallow\ jcr\:read\ on\ /conf\ restriction(rep\:glob,/*/cloudconfigs/docusign/*)\r\nend"]
